<%- include('../partials/header') %>
<div class="flex justify-center items-center h-[500px]">
  <form id="SignUp" hx-post="/auth/signup" hx-include="[name=fname],[name=lname],[name=email],[name=password]" hx-target="#SignUp" hx-swap="innerHTML">
    <div class="bg-white ring-1 ring-slate-400 shadow-xl rounded-md w-[500px]">
      <div class="bg-[#896ab9] text-white py-3 px-3 text-xl rounded-t-md">
        Sign up
      </div>
      <div class="flex">
        <div class="py-3 px-3 w-1/2">
          First name
          <input
            class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
            type="text"
            placeholder="First name"
            name="fname"
            required
          />
        </div>
        <div class="py-3 px-3 w-1/2">
          Last name
          <input
            class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
            type="text"
            placeholder="Last name"
            name="lname"
            required
          />
        </div>
      </div>
      <div class="py-2 px-4">
        E-Mail
        <input
          class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
          type="email"
          placeholder="Email"
          name="email"
          required
        />
      </div>
      <div class="py-2 px-4">
        Password
        <input
          class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
          type="password"
          placeholder="Password"
          name="password"
          required
          minlength="8"
        />
        <a class="acc" hx-get="/signIn" hx-target="body" hx-swap="innerHTML">Already have an account?</a>
      </div>
      <div class="flex justify-center px-4 py-3">
        <button
          class="bg-[#b29ed1] px-2 py-2 mx-4 rounded-lg text-white"
          type="submit"
        >
          Sign up
        </button>
        <button
          class="bg-[#d29f3b] px-2 py-2 mx-4 rounded-lg text-white"
          type="button"
          hx-get="/cancel" hx-target="#body" hx-swap="outerHtml" 
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
