<%- include('../partials/header') %>
<div class="flex justify-center items-center h-[500px]">
  <form id="SignUp" action="/auth/signup" method="post">
    <div class="bg-white ring-1 ring-slate-400 shadow-xl rounded-md w-[500px]">
      <div class="bg-[#896ab9] text-white py-3 px-3 text-xl rounded-t-md">
        Sign up
      </div>
      <div class="flex">
        <div class="py-3 px-3">
          First name
          <input
            class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
            type="text"
            placeholder="First name"
            name="fname"
            required
          />
        </div>
        <div class="py-3 px-3">
          Last name
          <input
            class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
            type="text"
            placeholder="Last name"
            name="lname"
            required
          />
        </div>
      </div>
      <div class="py-2 px-4">
        E-Mail
        <input
          class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
          type="email"
          placeholder="Email"
          name="email"
          required
        />
      </div>
      <div class="py-2 px-4">
        Password
        <input
          class="px-2 py-1 w-full border-2 border-slate-200 rounded-xl"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </div>

      <div class="flex justify-center px-4 py-3">
        <button
          class="bg-[#b29ed1] px-2 py-2 mx-4 rounded-lg text-white justify-end"
          value="signUp"
        >
          Sign up
        </button>
        <button
          class="bg-[#d29f3b] px-2 py-2 mx-4 rounded-lg text-white"
          value="cancel"
          hx-get="/cancel" hx-target="#body" hx-swap="outerHtml"  
        >
          Cancel
        </button>
        <!--one the click of cancel it should render quotes-->
      </div>
    </div>
  </form>
</div>
