<!-- views/partials/quote.ejs -->
<div class="border-2 border-yellow-600 rounded-md p-4 relative bg-white shadow-md">
  <p class="mb-4 text-gray-800"><%= quote.quote %></p>
  <div class="absolute bottom-[4.5rem] right-[6.25rem] bg-blue-600 text-white px-2 py-1 rounded-md">
      - <%= quote.author %>
  </div>
</div>