<body class="bg-gray-100 flex flex-col min-h-screen">
  <%- include('partials/header') %>

  <div class="flex-grow flex items-center">
    <div class="mx-auto w-fit">
      <h1 class="text-2xl font-bold mb-2 mt-4">Add Quote</h1>
      <div class="bg-white ring-1 ring-slate-400 shadow-xl rounded-md w-fit p-4">
        <form id="quoteForm" hx-post="/quotes" hx-include="[name=quote],[name=author],[name=tags]" hx-target="body" hx-swap="none">
          <p class="mb-2">Quote</p>
          <textarea name="quote" class="textarea border-2 border-slate-200 rounded-md w-[700px] h-28" required></textarea>
          <p class="mb-2 mt-2">Author</p>
          <input name="author" class="input border-2 border-slate-200 rounded-md w-[700px] h-10" required></input>
          <p class="mb-2 mt-2">Tags</p>
          <input name="tags" class="input border-2 border-slate-200 rounded-md w-[700px] h-10" required></input>
          <div class="flex mt-4 items-center">
            <div class="mx-auto">
              <button type="submit" class="bg-green-600 text-white rounded-md px-4 py-1 mt-2 mr-2">
                Save
              </button>
              <a href="/dashboard" class="bg-red-600 text-white rounded-md px-4 py-1 mt-2">
                Cancel
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

  <script>
    function cancelForm() {
      document.getElementById('quoteForm').reset();
    }
  </script>
</body>
