<body class="bg-gray-100">
    <%- include('partials/header') %>
    <%- include('nav_after') %>
                                        <!-- nav_after will come -->
    <div id="body" class="container mx-auto p-4">
    <%- include('quote') %>
    </div>
    <%- include('partials/footer') %>