<!-- views/dashboard.ejs -->
<body class="bg-gray-100">
  <%- include('partials/header') %>
  <%- include('nav_after') %>
  <div id="body" class="container mx-auto p-4">
    <%- include('quote', { quotes: quotes, user: user, likedislikecount: likedislikecount, quotereaction: quotereaction, allusers: allusers, currentPage: currentPage }) %>
       
  </div>
  <%- include('partials/footer') %>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('redirect') === 'myquote') {
            setTimeout(function() {
                // Send an HTMX request to /myquote
                htmx.ajax('GET', '/myquote', {
                    target: '#body'
                });
            }, 1); 
        }
</script>
</body>
