<nav class="bg-[#9fba29]">
  <div class="flex items-center justify-between mx-auto max-w-screen-full">
    <div class="px-3 py-3 flex space-x-2">
      <div class="text-white text-3xl font-bold pr-3">Software Quotes</div>
      <div class="flex space-x-4">
        <button
          class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 "
          hx-get="/home"
          hx-target="#body"
          hx-swap="innerHTML"
        >
          Home
        </button> 
         <!-- <a href="/home" > HOME</a>  -->
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 "
        hx-get="/authors"
          hx-target="#body"
          hx-swap="innerHTML">
          Authors
        </button>
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 " 
        hx-get="/allquote"
          hx-target="#body"
          hx-swap="innerHTML">
          Quotes
        </button>
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 "
        hx-get="/myquote"
          hx-target="#body"
          hx-swap="innerHTML">
          My Quote
        </button>
      </div>
    </div>
    <div class="flex items-center px-5">
      <!-- This should have initial of the user and when clicked show logout button in drop down -->
      <span class="uppercase font-bold text-lg mr-5"><%= user.name %></span>
      <button
        id="userButton"
        class="relative flex w-12 h-12 overflow-hidden rounded-full text-black bg-slate-200 focus:ring-2 focus:ring-slate-500 "
      >
        <div class="inline-block items-center space-x-6 pt-2.5 pl-3">
          <span class="uppercase font-bold text-lg"><%= user.initials %></span>
        </div>
      </button>
    </div>
   
  </div>
</nav>

<!-- drop down menu -->
<div
  id="userDropdown"
  class="hidden absolute z-10 bg-slate-200 divide-y divide-gray-100 rounded-lg shadow w-36 mt-5"
  style="right: 40px; top: 14px;"
>
  <div class="p-2 text-center">
    <div class="text-lg font-bold uppercase"><%= user.initials %></div>

  </div>
  <ul>
    <li>
      <button
        hx-get="/update"
        hx-target="#body"
        hx-swap="innerHTML"
        class="block px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 transition-colors duration-500 ease-in-out w-full text-left"
      >
        Update
      </button>
    </li>
    <li>
      <a
        href="/auth/logout"
        class="block px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 transition-colors duration-500 ease-in-out w-full text-left"
      >
        Logout
      </a>
    </li>
  </ul>
</div>

<script>
  // Toggle dropdown menu
  document
    .getElementById("userButton")
    .addEventListener("click", function (event) {
      event.stopPropagation(); // Prevent click event from bubbling up
      var dropdown = document.getElementById("userDropdown");
      dropdown.classList.toggle("hidden");
    });

  // Close dropdown menu if clicked outside
  window.addEventListener("click", function (e) {
    var button = document.getElementById("userButton");
    var dropdown = document.getElementById("userDropdown");
    if (!button.contains(e.target) && !dropdown.contains(e.target)) {
      dropdown.classList.add("hidden");
    }
  });
</script>