<%- include('partials/header')  %>
<h1 class="text-2xl font-bold mb-2">Quotes</h1>
<div class="bg-white ring-1 ring-slate-400 shadow-xl rounded-md w-full p-4">
  <div class="border-2 border-yellow-600 mb-10 rounded-md p-2 relative">
    <p class="mb-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, libero
      odit incidunt quos quod dignissimos atque voluptatem mollitia ullam at
      vitae illo modi, ad repellendus, vero aperiam fugit quidem. Blanditiis.
    </p>
    <div
      class="absolute bottom-2 right-10 bg-blue-600 h-fit w-fit rounded-md text-white p-1"
    >
      -author
    </div>
  </div>
  <div class="border-2 border-yellow-600 mb-10 rounded-md p-2 relative">
    <p class="mb-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, libero
      odit incidunt quos quod dignissimos atque voluptatem mollitia ullam at
      vitae illo modi, ad repellendus, vero aperiam fugit quidem. Blanditiis.
    </p>
    <div
      class="absolute bottom-2 right-10 bg-blue-600 h-fit w-fit rounded-md text-white p-1"
    >
      -author
    </div>
  </div>
</div>
<%- include('partials/footer')  %>
